// fonts

@font-face {
  font-family: 'sitelen pona pona';
  src: url('https://jackhumbert.github.io/sitelen-pona-pona/fonts/sitelen-pona-pona.otf');
  font-weight: 400;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga" 1;
}
[lang='tp'] {
  font-family: 'sitelen pona pona';
}
.spp {
  font-family: 'sitelen pona pona' !important; // !i needed bc of sitelen-sitelen-renderer ??
}
.spp {
  a {
    text-decoration: none;
    background: #00E1;
    margin: 0 0.1rem;
    padding: 0 0.1rem;
  }
}

@font-face { /* v4 includes 'linluwi' */
  font-family: sp-NasinNanpa;
  src: url('https://raw.githubusercontent.com/ETBCOR/nasin-nanpa/n4.0.0/versions/nasin-nanpa-4.0.0.otf');
  font-weight: 400;
}
*[lang='tp'],
*[lang='tp'] * {
  font-family: sp-NasinNanpa;
}


// "global"

body {
  margin: 0;
}

main {
  display: flex;
  flex-flow: column nowrap
}

main > * {
  margin: 0 1rem 0.5rem;
}

h1 {
  font-size: 3.33rem;
  font-weight: 100;
  margin: 1rem;
  text-align: center;
}

ul {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  list-style: none;
  margin: 1rem auto;
  padding: 0;
}

.rootpicker {
  margin-bottom: 1rem;
  padding: 0.5rem 0;
  border-radius: 1rem;
  box-shadow: 0.2rem 0.2rem 0.5rem #11111199;
}
.rootpicker__roots {
  justify-content: center;
  margin: 0 0 1rem;

  li {
    width: 3rem;
    height: 3rem;
    vertical-align: middle;
    text-align: center;
    margin: 0.2rem;
    &:hover {
      cursor: pointer;
      box-shadow: 0.1rem 0.1rem 0.5rem #55111199;
    }
  }
  img {
    max-width: 100%;
    max-height: 100%;
  }
  li,
  img {
    border-radius: 33%;
  }
  .spp {
    font-size: 3rem;
  }
  .juniko {
    font-size: 2rem;
  }
}
.rootpicker__roots__root-shape,
.rootpicker__roots__root-meta {
  line-height: 4rem;
}

.rootpicker__selection {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem 0.7rem;

  .rootpicker__selection__root {
    height: 2rem;
    margin: 0.7rem;
    font-size: 3rem;
    line-height: 2rem;
    text-align: center;
    cursor: default;
  }
  button {
    margin: 0.5rem;
    cursor: pointer;
    flex-basis: 1rem;
  }
  img {
    max-height: 2rem;
  }
}

.no-glyphs-found button.rootpicker__selection__button-del {
  font-weight: bold;
  background: pink;
}

.glyphs {
  justify-content: center;

  > li {
    margin: 0.2rem;
    width: 4rem;
    height: 4rem;
    line-height: 6rem; // to push the plinth-shapes towards the bottom of their spaces
    text-align: center; // to center the vertical shapes
    cursor: pointer;
    &:hover {
      background: pink;
    }
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .error {
    [lang="tp"] {
      font-size: 2rem;
      margin: 1rem;
    }
    text-align: center;
  }
}

footer {
  margin: 1rem 0 0;
  padding: 1rem;
  background: darkgray;
  color: aliceblue;
  display: flex;
  justify-content: center;
  p {
    margin: 1rem;
  }
  a {
    color: aliceblue;
    text-decoration: underline;
  }
}
