@import url('http://livingtokipona.smoishele.com/styles/sitelen-sitelen-renderer.css');

@font-face { 
  font-family: 'sitelen pona pona';
  src: url('https://jackhumbert.github.io/sitelen-pona-pona/fonts/sitelen-pona-pona.otf');
  font-weight: 400;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga" 1;
}

.help {
  margin: 1em;
  border: 1px dotted #667;
  padding: 0.3em 1em;
  background: #eef;
}

.error {
  background: pink;
  border: 2px dashed red;
}

h1 {
}

ul {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  list-style: none;
  margin: 1em auto;
  padding: 0;

  li {
    width: 4rem;
    height: 4rem;
    vertical-align: middle;
    text-align: center;
  }
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.rootpicker {}
ul.rootpicker__roots {
  li {
    margin: 0.2rem;
    border-radius: 1rem;
    &:hover {
      cursor: pointer;
      box-shadow: 0.1rem 0.1rem 0.5rem #55111199;
    }
  }
}
.rootpicker__roots__root-phoneme* {}
.rootpicker__roots__root-shape,
.rootpicker__roots__root-meta {
  line-height: 5rem;
}

.rootpicker__selection {
  display: flex;
  max-width: 25rem;
  height: 4rem;
  border-radius: 1em;
  padding: 0.5em 1em;
  box-shadow: 1px 1px 5px #22222299 inset;

  ul {
    margin: 0;
  }
  li {
    width: 4rem;
    height: auto;
    text-align: center;
    cursor: default;
  }
  button {
    cursor: pointer;
  }
  p {
    margin: 0;
  }
}
.rootpicker__selection__button {
  font-size: 2rem;
  width: 4rem;
  border-radius: 1rem;
}
.rootpicker__selection__button-clr {
  order: 9;
}

.glyphs {
  li {
    margin: 0.1em;
    line-height: 6rem;
    cursor: pointer;
    &:hover {
      box-shadow: 0.1em 0.1em 0.5em #66996699;
    }
  }
}

.spp {
  font: 3em/100% 'sitelen pona pona';
}
.juniko {
  font-size: 2em;
  line-height: 100%;
}
