.entry {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: stretch;
  align-items: stretch;
  padding-top: 1rem;
  font-size: 2rem;

  .latin {
    font-family: fantasy;
    line-height: 1.5em;
  }
  > * {
    margin: 0;
    background: radial-gradient(#0e02 0, transparent 70%);
  }
  .entry__sitelenSitelen {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
  }
  .entry__sitelenPona {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
  }
  .entry__sitelenPona__nimi {
    margin-left: 1rem;
    padding: 1rem;
    font-size: 2.5rem;
    line-height: 1em;
    background: radial-gradient(#00e2 0, transparent 80%);
    border-radius: 1rem;
  }
  .entry__sitelenSitelen {
    .entry__sitelenSitelen__image {
      width: 80%;
      max-width: 100px;
      margin: 0 auto;
    }
  }
  .entry__sitelenLasina {
    display: none; //flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.125rem;
    .latin {
      padding: 1rem;
    }
  }
  .entry__sitelenEmosi {
    display: flex;
    align-items: center;
    font-size: 1rem;
    .emoji {
      padding: 1rem;
      font-size: 2rem;
      background: radial-gradient(#00e2 0, transparent 80%);
    }
  }
  .entry__body {
    flex-basis: 100%;
    display: flex;
    > * {
      padding: 2rem 1rem;
    }
  }
  .entry__pronunciation {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    span {
      margin-right: 0.5rem;
    }
    [data-sitelen] * {
      stroke: 1;
    }
    [data-sitelen] > svg {
      min-width: 3em;
      min-height: 5em;
      overflow: visible;
    }
    #cartouche > path,
    #cartouche-tall-wide > path {
      fill: rgb(213 213 213);
      stroke-width: 2;
    }
  }
  .entry__definition {
    text-align: center;
    font-size: 1.375rem;
  }
  .entry__definition__graf {
    font-size: 1.2rem;
    &:first-child {
      font-size: 1.3rem;
    }
  }

  .entry__rootscontainer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    span {
      font-size: 1rem;
    }
    .entry__rootscontainer__roots {
      display: flex;
      justify-content: center;
      > * {
        margin: 0 1rem;
        padding: 0.75rem;
        border-radius: 0.3rem;
        box-shadow: 0.1rem 0.1rem 0.5rem #22222299 inset;
        font-size: 2rem;
        width: 2rem;
        height: 2rem;
        line-height: 2.5rem;
        text-align: center;
      }
    }
  }
}
