.entry {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end; // this puts the .entry__roots over to the right side
  padding-top: 1rem;
  font-size: 2rem;

  .latin {
    font-family: fantasy;
  }

  > * {
    margin: 0;
  }
  .entry__sitelenSitelen,
  .entry__sitelenAnte {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
  }
  .entry__sitelenPona {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
  }
  .entry__sitelenPona__nimi {
    margin-left: 1rem;
    padding: 1rem;
    font-size: 2.5rem;
    background: radial-gradient(#00e2 0, transparent 70%);
    border-radius: 1rem;
  }
  .entry__sitelenSitelen {
    .entry__sitelenSitelen__image {
      width: 80%;
      max-width: 100px;
      margin: 0 auto;
    }
  }
  .entry__sitelenLasina {
    display: none;//flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.125rem;
    .latin {
      padding: 1rem;
    }
  }
  .entry__sitelenEmosi {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    .emoji {
      padding: 1rem;
      font-size: 2rem;
    }
  }
  .entry__body {
    flex-basis: 100%;
    display: flex;
    > * {
      padding: 2rem 1rem;
    }
  }
  .entry__pronunciation {
    display: flex;
    flex-direction: column;
    flex-basis: 5rem;
    font-size: 1.5rem;
    span {
      margin-right: 0.5rem;
    }
    svg {
      max-width: 5rem;
      overflow: visible;
    }
  }
  .entry__definition {
    text-align: center;
    font-size: 1.375rem;
  }
  .entry__definition__graf {
    font-size: 1.2rem;
    &:first-child {
      font-size: 1.3rem;
    }
  }
  .entry__roots {
    display: flex;
    // justify-content: space-evenly;
    // justify-content: space-around;
    // align-items: center;
    margin: 0 1rem;
    padding: 0.75rem;
    border-radius: 1rem;
    box-shadow: 0.1rem 0.1rem 0.5rem #22222299 inset;
    > span,
    > img {
      font-size: 2rem;
      width: 2rem;
      height: 2rem;
      line-height: 2.5rem;
    }
  }
}
