.help {
  margin: 0.5em auto;
  border: 1px dotted #667;
  padding: 0.3em 0.5em;
  background: #eef;
  display: flex;
  flex-flow: column nowrap;
  display: flex;
  align-items: center;
  // text-align: center;

  *[lang="tp"] {
    text-align: left;
  }

  &-error {
    background: pink;
    border: 2px dashed red;
  }

  &-toplevel {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 0;
    padding: 0.2em 0;
    text-align: center;
  }

}
